# Sensitive environment & secrets files - never commit real values
.env
.envrc
.env.local
.env.development
.env.production
.env.bak
*.env
.secret
*.secret

# Ignore entire folders if they contain real secrets
# env/
# secrets/

# Other common secrets & credentials
*.key
*.pem
*.crt
*.cer
*.md
*.password
credentials.json
config/secrets.yml
docker-compose.override.yml  # sometimes used for local secrets

# OS / editor junk
.DS_Store
Thumbs.db
*.log