secrets:
  traefik_auth:
    file: /opt/docker/vps-stack/secrets/traefik.secret   # Contains credentials for Traefik's dashboard
  wireguard:
    file: /opt/docker/vps-stack/secrets/wireguard.secret   # Wireguard configuration file
  wg-easy_auth:
    file: /opt/docker/vps-stack/secrets/wg-easy.secret

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    env_file:
      - /opt/docker/vps-stack/env/cloudflare.env
    networks:
      wan-net:
        ipv4_address: 192.0.2.3
    restart: unless-stopped
    depends_on:
      - traefik
    healthcheck:
      test: ["CMD", "cloudflared", "tunnel", "ready", "--metrics", "127.0.0.1:2000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s     # Give time for initial connection/handshake

  traefik:
    image: traefik:v3.6.7
    container_name: traefik
    restart: always
    command:
      - --log.level=DEBUG
      - --api.insecure=false                  # API not exposed on the entry point traefik (Dashboard, port 8080)
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false  # Only label-enabled containers
      - --serversTransport.insecureSkipVerify=true
      # Use the "certificatesresolvers" lines if set up LetsEncrypt certificate resolver (Cloudflare DNS-01 challenger). No cert required since Cloudflare secures the traffic
      # --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      # --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      # --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      # --certificatesresolvers.letsencrypt.acme.dnschallenge.propagation.delayBeforeChecks=300  # Wait for DNS propagation (Cloudflare can be slow)
      # --certificatesresolvers.letsencrypt.acme.email=${EMAIL_ADDRESS}
      # --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      # Set up an insecure listener that redirects all traffic to TLS
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      # Set up the TLS configuration for traefik's websecure listener
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=*.${VPS_DOMAIN}
      - --entrypoints.websecure.http.tls.domains[0].sans=${VPS_DOMAIN}
      # Other entrypoints
      - --entrypoints.zigbee2mqtt-01-serial.address=:6638
      - --entrypoints.zigbee2mqtt-02-serial.address=:6639

    labels:   # These labels will allow access to traefik's dashboard via the Cloudflare tunnel (+ basic auth)
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`${TRAEFIK_URL}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.tls.certresolver=letsencrypt # Requests certs
      - traefik.http.routers.traefik.service=api@internal   # points to built-in dashboard
      - traefik.http.routers.traefik.middlewares=auth       # optional: add basic auth or forward-auth
      - traefik.http.middlewares.auth.basicauth.usersfile=/run/secrets/traefik_auth   # Basic auth middleware definition
      - traefik.http.middlewares.auth.basicauth.realm=Traefik Dashboard               # Shows this text in the browser's tab
    env_file:
      - /opt/docker/vps-stack/env/traefik.env
    secrets:
      - traefik_auth
    # ports:            # NO PORTS: no host exposure; cloudflared reaches it internally - comment out after testing
    # - "80:80"
    # - "443:443"
    # - "8080:8080"  # Optional Traefik dashboard

    volumes:
      - /run/docker.sock:/var/run/docker.sock:ro    # So that Traefik can listen to the Docker events
      - /opt/docker/vps-stack/letsencrypt:/letsencrypt  # Let's Encrypt certificates storage

    networks:
      wan-net:
        ipv4_address: 192.0.2.2
      vpn-net:
        ipv4_address: 192.0.2.10
      lab-net:
        ipv4_address: 192.168.0.2
      traefik-z2m-net:
        ipv4_address: 192.168.1.2
      traefik-ha-net:
        ipv4_address: 192.168.4.2

    healthcheck:
      test: netstat -ptan | grep -E "443.*LISTEN" || exit 1
      interval: 10s
      timeout: 3s
      start_period: 60s

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
    secrets:
      - source: wireguard
        target: /gluetun/wireguard/wg0.conf
        mode: 0400
    networks:
      vpn-net:
        ipv4_address: 192.0.2.11
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "/gluetun-entrypoint", "healthcheck"]
      interval: 5s
      timeout: 5s
      start_period: 10s
      retries: 1
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    env_file:
      - /opt/docker/vps-stack/env/wg-easy.env
    #  - /opt/docker/vps-stack/secrets/wg-easy.secret
    secrets:
      - wg-easy_auth
    volumes:
      - /opt/docker/vps-stack/wg-easy:/etc/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    ports:
      - "51820:51820/udp"     #  direct host exposure  (this is what clients hit)
      # - "51821:51821/tcp"     # optional direct (but we'll proxy via Traefik)
    restart: unless-stopped
    labels:      # To enable wg-easy's dashboard via traefik 
      - traefik.enable=true
      - traefik.http.routers.wg-easy-web.rule=Host(`wg-eu-01.myhomeassistant.app`)   # or wg.vpn-eu-01...
      - traefik.http.routers.wg-easy-web.entrypoints=websecure
      - traefik.http.routers.wg-easy-web.tls.certresolver=letsencrypt
      - traefik.http.routers.wg-easy-web.service=wg-easy-web-svc
      - traefik.http.services.wg-easy-web-svc.loadbalancer.server.port=51821
     # - traefik.http.routers.wg-easy-web.middlewares=auth
     # - traefik.http.middlewares.auth.basicauth.usersfile=/run/secrets/wg-easy_auth   # Basic auth middleware definition
     # - traefik.http.middlewares.auth.basicauth.realm=wg-easy Dashboard               # Shows this text in the browser's tab
    networks:
      vpn-net:
        ipv4_address: 192.0.2.12

include:
#  - lab-compose.yml
   - ha-compose.yml


networks:
  wan-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.0/29
          gateway: 192.0.2.1

  vpn-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.8/29
          gateway: 192.0.2.9

  lab-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1

  traefik-z2m-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1

  z2m-mqtt-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.2.0/24
          gateway: 192.168.2.1

  mqtt-ha-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.3.0/24
          gateway: 192.168.3.1

  traefik-ha-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.4.0/24
          gateway: 192.168.4.1