secrets:
  traefik_auth:
    file: /opt/docker/vps-stack/secrets/traefik.secret   # Contains credentials for Traefik's dashboard
  wireguard:
    file: /opt/docker/vps-stack/secrets/wireguard.secret   # Wireguard configuration file
  wg-easy_auth:
    file: /opt/docker/vps-stack/secrets/wg-easy.secret
  z2m-01-auth:
    file: /opt/docker/vps-stack/secrets/z2m-01.secret     # Credentials for z2m-01 Web GUI
  z2m-02-auth:
    file: /opt/docker/vps-stack/secrets/z2m-02.secret     # Credentials for z2m-02 Web GUI


services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    env_file:
      - /opt/docker/vps-stack/env/cloudflare.env
    networks:
      wan-net:
        ipv4_address: 192.0.2.3
    restart: unless-stopped
    depends_on:
      - traefik
    healthcheck:
      test: ["CMD", "cloudflared", "tunnel", "ready", "--metrics", "127.0.0.1:2000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s     # Give time for initial connection/handshake

  traefik:
    image: traefik:v3.6.7
    container_name: traefik
    restart: always
    entrypoint: /traefik-init.sh
    cap_add:
      - NET_ADMIN # Required for the "ip route add" command in the traefik-init.sh script
    command:
      - --log.level=DEBUG
      - --api.insecure=false                  # API not exposed on the entry point traefik (Dashboard, port 8080)
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false  # Only label-enabled containers
      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true   # optional but recommended for hot reload
      - --serversTransport.insecureSkipVerify=true

      # Entrypoint for traefik's dashboard
      - --entrypoints.web.address=:80

      # Entrypoints for TCP connections from Zigbee2MQTT containers
      - --entrypoints.z2m-01.address=:6001 # z2m-01 sends to tcp://traefik:6001, traefik forwards to user0001-01 TCP 6638 (see/traefik/dynamic/tcp.yml)
      - --entrypoints.z2m-02.address=:6002 # z2m-02 sends to tcp://traefik:6002, traefik forwards to user0002-01 TCP 6638 (see/traefik/dynamic/tcp.yml)
    # - --entrypoints.z2m-03.address=:6003 # z2m-03 sends to tcp://traefik:6003, ...

    labels:   # These labels will allow access to traefik's dashboard via the Cloudflare tunnel (+ basic auth)
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`${TRAEFIK_URL}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.routers.traefik.service=api@internal   # points to built-in dashboard
      - traefik.http.routers.traefik.middlewares=auth       # optional: add basic auth or forward-auth
      - traefik.http.middlewares.auth.basicauth.usersfile=/run/secrets/traefik_auth   # Basic auth middleware definition
      - traefik.http.middlewares.auth.basicauth.realm=Traefik Dashboard               # Shows this text in the browser's tab

    env_file:
      - /opt/docker/vps-stack/env/traefik.env

    secrets:
      - traefik_auth
      - z2m-01-auth
      - z2m-02-auth

    # ports:            # NO PORTS: no host exposure; cloudflared reaches it internally - comment out after testing
    # - "80:80"
    # - "443:443"
    # - "8080:8080"  # Optional Traefik dashboard

    volumes:
      - /run/docker.sock:/var/run/docker.sock:ro    # So that Traefik can listen to the Docker events
    #  - /opt/docker/vps-stack/letsencrypt:/letsencrypt  # Let's Encrypt certificates storage
      - /opt/docker/vps-stack/traefik/dynamic:/etc/traefik/dynamic:ro
      - /opt/docker/vps-stack/traefik/traefik-init.sh:/traefik-init.sh:ro # Mounts the script in traefik-init.sh

    networks:
      wan-net:
        ipv4_address: 192.0.2.2
      vpn-net:
        ipv4_address: 192.0.2.10
      vpn-client-net:
        ipv4_address: 192.0.2.18
      lab-net:
        ipv4_address: 192.168.0.2
      traefik-z2m-net:
        ipv4_address: 192.168.1.2
      traefik-ha-net:
        ipv4_address: 192.168.4.2

    healthcheck:
      test: netstat -ptan | grep -E "80.*LISTEN" || exit 1
      interval: 10s
      timeout: 3s
      start_period: 60s

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
    secrets:
      - source: wireguard
        target: /gluetun/wireguard/wg0.conf
        mode: 0400
    networks:
      vpn-net:
        ipv4_address: 192.0.2.11
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "/gluetun-entrypoint", "healthcheck"]
      interval: 5s
      timeout: 5s
      start_period: 10s
      retries: 1

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15.2.2
    container_name: wg-easy
    env_file:
      - /opt/docker/vps-stack/env/wg-easy.env
    #  - /opt/docker/vps-stack/secrets/wg-easy.secret
    secrets:
      - wg-easy_auth
    volumes:
      - /opt/docker/vps-stack/wg-easy:/etc/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    ports:
      - "51820:51820/udp"     #  direct host exposure  (this is what clients hit)
      # - "51821:51821/tcp"     # optional direct (but we'll proxy via Traefik)
    restart: unless-stopped
    labels:      # To enable wg-easy's dashboard via traefik 
      - traefik.enable=true
      - traefik.http.routers.wg-easy-web.rule=Host(`wg-eu-01.myhomeassistant.app`)
      - traefik.http.routers.wg-easy-web.entrypoints=web
      - traefik.http.routers.wg-easy-web.service=wg-easy-web-svc
      - traefik.http.services.wg-easy-web-svc.loadbalancer.server.port=51821
      - traefik.docker.network=vps-stack_vpn-net

    networks:
      vpn-net:
        ipv4_address: 192.0.2.12
      vpn-client-net:
        ipv4_address: 192.0.2.20

include:
#  - lab-compose.yml
   - ha-compose.yml


networks:
  wan-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.0/29
          gateway: 192.0.2.1

  vpn-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.8/29
          gateway: 192.0.2.9

  vpn-client-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.16/29
          gateway: 192.0.2.17

  lab-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1

  traefik-z2m-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1

  z2m-mqtt-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.2.0/24
          gateway: 192.168.2.1

  mqtt-ha-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.3.0/24
          gateway: 192.168.3.1

  traefik-ha-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.4.0/24
          gateway: 192.168.4.1