services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    env_file:
      - /opt/docker/vps-stack/env/cloudflare.env
    networks:
      wan-net:
        ipv4_address: 192.0.2.2 
    restart: unless-stopped
    depends_on:
      - traefik
  
  traefik:
    image: traefik:v3.6.7
    container_name: traefik
    restart: always
    command:
      - --log.level=DEBUG
      - --api.insecure=true                  # Dashboard on :8080; disable in prod or secure it
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false  # Only label-enabled containers
      - --serversTransport.insecureSkipVerify=true
      # Set up LetsEncrypt certificate resolver
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.delayBeforeCheck=20
      - --certificatesresolvers.letsencrypt.acme.email=${EMAIL_ADDRESS}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      # Set up an insecure listener that redirects all traffic to TLS
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      # Set up the TLS configuration for our websecure listener
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=*.${DOMAIN} 
      - --entrypoints.websecure.http.tls.domains[0].sans=${DOMAIN}
    labels:   # These labels will allow access to traefik's dashboard via the Cloudflare tunnel
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`${TRAEFIK_SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.tls.certresolver=letsencrypt
      - traefik.http.routers.traefik.service=api@internal   # points to built-in dashboard
      - traefik.http.routers.traefik.middlewares=auth       # optional: add basic auth or forward-auth
    env_file:
      - /opt/docker/vps-stack/env/traefik.env
    ports:            # NO PORTS: no host exposure; cloudflared reaches it internally - comment out after testing
     - "80:80"
     - "443:443"
     - "8080:8080"  # Optional Traefik dashboard
    networks:
      wan-net:
        ipv4_address: 192.0.2.3
      vpn-net:
        ipv4_address: 192.0.2.10
      ha-net:
        ipv4_address: 192.168.0.2
      lab-net:
        ipv4_address: 192.168.1.2

    volumes:
      - /run/docker.sock:/var/run/docker.sock:ro    # SO that Traefik can listen to the Docker events
      - /opt/docker/vps-stack/letsencrypt:/letsencrypt  # Let's Encrypt certificates storage
   
    healthcheck:
      test: netstat -ptan | grep -E "443.*LISTEN" || exit 1
      interval: 10s
      timeout: 3s
      start_period: 60s

include:
#  - lab-compose.yml
#  - ha-compose.yml

networks:
  wan-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.0/29
          gateway: 192.0.2.1

  vpn-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.8/29
          gateway: 192.0.2.9

  ha-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1

  lab-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1