#gluetun.env:
VPN_SERVICE_PROVIDER: myvpnprovider
VPN_TYPE: wireguard
TZ: Europe/London

# Settings:
WIREGUARD_USER: /secrets/wireguard-user
WIREGUARD_PASSWORD: /secrets/wireguard-password
VPN_PORT_FORWARDING: on
UPDATE_PERIOD: 24h
