WG_HOST=vpn.mydomain.com
WG_PORT=51820
WG_DEFAULT_ADDRESS=10.8.1.x
WG_DEFAULT_DNS=8.8.8.8, 1.1.1.1
WG_MTU=1420
WG_ALLOWED_IPS=0.0.0.0/0, ::/0

# Add any other non-secret options you want (WG_PERSISTENT_KEEPALIVE, WG_PRE_UP, etc.)