# Your VPN configuration here - copy from a .conf file, but note that gluetun only accepts an IP address as Endpoint, not an URL
[Interface]
PrivateKey =
Address =
DNS =

[Peer]
PublicKey =
AllowedIPs =
Endpoint =  IP address:port here, not URL:port
PresharedKey =
