# Use htpasswd -nbB [username] [password] to generate username/password pairs

# admin:$2y$10$HashHere...
# your@email.here:$2y$10$anotherHashHere...

# Then set the permissions with:  sudo chmod 600 z2m-01.secret
